@import '../../style/minxins/index.less';
@import '../../style/index.less';

@panel-prefix-cls: ~'@{zet-prefix}-achievement';
@panel-prefix-clsg: ~'@{zet-prefix}-panel-group';

.@{panel-prefix-cls}{
  font-size:14px;
  transition: all 0.45s;
  &-content{
    padding:10px 20px;
  }
}
.@{panel-prefix-clsg}{
  font-size:14px;
  .zet-achievement{
    margin-bottom:30px;
  }
  &-title{
    height:50px;
    line-height: 30px;
    padding:10px 20px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    &-name{
      float:left;
    }
    &-chart{
      margin-left:20px;
      margin-right:5px;
    }
    &-table{
      margin-left:5px;
      margin-right:20px;
    }
    &-extra{
      float:right
    }
  }
  &-content{
    display: flex;
    flex-direction: column;
    height:calc(~'100%' - 50px)
  }
}


@keyframes leftRight
{
  0% {-webkit-transform:rotateY(0deg);}
  50% {-webkit-transform:rotateY(90deg);}
  100% {-webkit-transform:rotateY(0deg);}
}

@keyframes rightLeft
{
  0% {-webkit-transform:rotateY(0deg);}
  50% {-webkit-transform:rotateY(90deg);}
  100% {-webkit-transform:rotateY(0deg);}
}

.rotateLeftRight{
  -webkit-transform:translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
  -webkit-animation:leftRight 0.5s linear;
  -moz-animation:leftRight 0.5s linear;
  animation:leftRight 0.5s linear;
}

.rotateRightLeft{
  -webkit-transform:translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
  -webkit-animation:rightLeft 0.5s linear;
  -moz-animation:rightLeft 0.5s linear;
  animation:rightLeft 0.5s linear;
}
