@import '../../style/minxins/index.less';
@import '../../style/index.less';

@resource-prefix-cls: ~'@{zet-prefix}-resource';

.@{resource-prefix-cls} {
  font-size: @font-size-base;

  // &Panel {
  //   font-size: @font-size-lg;
  //   &Title {
  //     margin-bottom: 10px;
  //   }
  //   &Content {
  //     padding: @padding-xs;
  //   }
  // }

  &-slider {
    margin-top: 15px;
  }
}


