@import '../../style/minxins/index.less';
@import '../../style/index.less';

@resource-prefix-cls: ~'@{zet-prefix}-resource';

.@{resource-prefix-cls} {
  font-size: @font-size-base;

  &-panel {
    font-size: @font-size-lg;
    &-title {
      margin-bottom: 10px;
    }
    &-content {
      padding: @padding-xs;
    }
  }

  &-slider {
    margin-top: @margin-md;
  }
}


